@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500;600&family=Kay+Pho+Du:wght@500&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500;600&family=Kay+Pho+Du&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght');

body {
    background-color: #A9A9A9;
}

nav div {
    display: inline-block;
    width: 49%;
    text-align: center;


}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
}

h1 {
    color: black;
    font-family: Edu TAS Beginner;
}

nav h1 i {
    margin-right: 20px;
}

nav {
    background-color:#EAD7BB;
    padding: 20px 0;
}

nav div h1 {
    margin-left: 45px;
    background-color: #;

}

nav div a {
    margin-left: 50px;
    text-decoration: none;
    font-family: 'Alumni Sans Inline One', sans-serif;
font-family: 'Oswald', sans-serif;
    font-weight: 400px;

}

nav div a:hover {
    color: rgb(172, 137, 137);
    text-decoration: underline;
}

.main {
    width: 80%;
    margin: auto;
    margin-top: 60px;
    font-family: 'Alumni Sans Inline One', sans-serif;
font-family: 'Oswald', sans-serif;
}

.main div {
    display: inline-block;
    width: 49%;
}

.main1 {
    text-align: center;
    font-family: 'Alumni Sans Inline One', sans-serif;
font-family: 'Oswald', sans-serif;
}

.main1 img {
    border-radius: 50%;
}

.main2 h1 {
    text-align: auto;
    font-family: 'Alumni Sans Inline One', sans-serif;
font-family: 'Oswald', sans-serif;
}

.nav2 {
    text-align: center;
   


}

.main button {
    border: none;
    background-color: #FFF2D8;
    margin-top: 30px;
    padding-bottom: 30px;
    padding: 7px;
    border-radius: 3.5px;
    opacity: 0.7;
    font-size: medium;
}

.main3 {
    width: 80%;
    margin: 5%;
    margin-bottom: 60px;
  
}

.hh h1{
    
    margin-left: 40px;
    font-family: 'Alumni Sans Inline One', sans-serif;
font-family: 'Oswald', sans-serif;
margin-top:5%;

}

.main5 h1 {
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Kay Pho Du', serif;
    font-family: 'Roboto Slab', serif;

}

.main6 h2 {
    margin-left: 200px;
    margin-top: 10px;
}

.main6 p {
    margin-left: 365px;
}

.main7 h2 {
    margin-left: 200px;
    margin-top: 10px;
}

.main7 p {
    margin-left: 365px;
}

.main8 h1 {
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Kay Pho Du', serif;
    font-family: 'Roboto Slab', serif;
}

.main9 p {
    margin-left: 200px;
    margin-top: 15px;
}

.main5 h1 i {
    margin-right: 20px;
}

.main8 h1 i {
    margin-right: 20px;
}

.main button:hover {
    opacity: 1;
}

.card {
    display: inline-block;
    width: 12%;
    text-align: center;
    padding: 8px;
    margin-right: 5%;
    margin-bottom: 10px;

}

.scard:hover {
    scard: 110%;
    background-colour: red;
}

.SKILL {
    width: auto;
    length
}

.project {
     
    width: 80%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 2Px;
    font-family: 'Alumni Sans Inline One', sans-serif;
font-family: 'Oswald', sans-serif;

}

.p {
    display: inline-block;
    width: 80%;
    padding: 30px;
    margin-left: 40px;
    margin-top: 20px;
    text-align: end;
}

.p1 {
    display: inline-block;
    margin-top: 10px;
    width: 40%;
    text-align: center;
}

.p2 {
    display: inline-block;
    width: 40%;
    height: 70%;
    margin-left: 50px;
    text-align: center;
}

.contact {
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Kay Pho Du', serif;
    font-family: 'Roboto Slab', serif;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.c1 h3 {
    margin-left: 200px;
    margin-right: 600px;
}

.c2 {
    display: inline-block;
    display: inline-block;
    margin-left: 65%;
}

.c2 img {
    margin-right: 10px;
}

.c2:hover {
    scale: 105%;
}
.end {
    margin-left: 800px;
}
.ccc{
    font-family: 'Alumni Sans Inline One', sans-serif;
font-family: 'Oswald', sans-serif;
}
.aaa h1{
    font-family: 'Alumni Sans Inline One', sans-serif;
font-family: 'Oswald', sans-serif;
background-color: #FFFBF5;
}